body {
    display: flexbox;
    font-family: "Poppins", sans-serif;

}

header {
    display: grid;
    text-align: center;
    width: 80rem;
    height: 8rem;
    padding: 5rem;
    margin: 1rem;
    padding-top: 3rem;
    border-radius: 1rem;
    position: relative;
}

h1 {
    color: darkblue;
    text-align: center;
}

h2 {
    color: darkblue;
}

h3 {
    color: rgb(117, 117, 162);
}

#habilidades {
    width: 80rem;
    height: 11rem;
    background-color: #ffffff;
    padding: 6rem;
    padding-top: 3rem;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#cursos {
    width: 80rem;
    height: 13rem;
    background-color: #ffffff;
    padding: 6rem;
    padding-top: 3rem;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#experiencias {
    width: 80rem;
    background-color: #ffffff;
    padding: 6rem;
    padding-top: 3rem;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#eu {
    width: 80rem;
    height: 4rem;
    background-color: #ffffff;
    padding: 6rem;
    padding-top: 3rem;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#projetos {
    display: grid;
    width: 80rem;
    height: 30rem;
    background-color: #ffffff;
    padding: 6rem;
    padding-top: 4rem;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
    color: rgb(117, 117, 162);
}

.container {
    display: flex;
}

img {
    margin-right: 50px;
}

footer {
    text-align: center;
    width: 80rem;
    height: 4rem;
    padding: 5rem;
    padding-top: 1rem;
    margin: 1rem;
}

#me,
#hab,
#curs,
#exp,
#inf,
#infosb {
    background-color: darkblue;
    padding: 10px 15px;
    border-radius: 10%;
    border: none;
    color: white;
    text-decoration: dashed;
    cursor: pointer;
    transition: background-color 0.3s;

}

#me:hover,
#hab:hover,
#curs:hover,
#exp:hover,
#inf:hover,
#infosb:hover {
    background-color: rgb(117, 117, 162);
}